.breed-select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    margin: 20px 40px;
}

.breed-select option {
    background-color: #8e8585;
    color: white;
}

.loader {
    display: block;
    width: 50px;
    height: 50px;
    border: 5px solid #ccc;
    border-radius: 50%;
    border-top: 5px solid #333;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.error {
    display: none;
    font-size: 18px;
    font-weight: bold;
    color: #f44336;
    text-align: center;
    margin-top: 20px;
}

.cat-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px;
    gap: 50px;
}

.cat-info img {
    width: 1000px;
    max-width: 100%;
    height: auto;
    border-radius: 3px;
}